#App {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-image: url("./images/walk3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: black;
  background-blend-mode: darken; */
  
}

/* #App-background {
  width: 100%;
  height: 100%;

  background-image: url("./images/walk3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-blend-mode: darken;
  filter: brightness(60%)
} */

#App-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  backdrop-filter: brightness(68%);
} 